.detailsText {
    white-space: pre-wrap;
    text-align: right;
    direction: rtl;
    height: fit-content;
}

.image {
    width: 30%;
    object-fit: cover;
    margin-right: 5vw;
    box-shadow: 0 3px 6px #00000029;
}

.container {
    display: flex;
    width: 85vw
}

.bigContainer {
    display: flex;

    flex-direction: column;
}

.containerM {
    width: 100vw;
    display: flex;
    justify-content: center;

}


@media only screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
    }

    .image {
        width: 80%;
        align-self: center;
        margin: 1vh 0;
    }
}