.postContainer {
    width: 90vw;
    // height: 30vh;
    overflow: hidden;
    display: flex;

}


.date {
    font-size: 12px;
}

.readMore {
    color: '#186b89';
    font-weight: 'bold';
    width: 'fit-content';
    cursor: "pointer";
}