:root {
    --swiper-navigation-size: 50px;
    --theme-color: #186B89;
    --swiper-theme-color: #186B89;
}

.slider-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    overflow-x: hidden;
    left: 0;
    right: 0;
    padding: 5% 10vw;
    .swiper {
        .swiper-button-prev {
            right: var(--swiper-navigation-sides-offset, 0.2vw);
        }

        .swiper-button-next {
            left: var(--swiper-navigation-sides-offset, 0.2vw);
        }

        .swiper-slide-active {
            margin-right: 2.5vw;
        }

        .slider-element {
            cursor: pointer;
            transition: 0.5s;
            height: 40vh;
            max-width: 15vw;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #707070;
            border-radius: 15px;
            overflow: hidden;
            position: relative;

            &:hover {
                filter: brightness(0.8);
            }

            img,
            video {
                position: relative;
                max-height: 100%;
                max-width: auto;
                min-width: 70px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .slider-container {
        padding: 0 5vw;

        .swiper {
            .swiper-button-prev {
                right: var(--swiper-navigation-sides-offset, 0);
            }

            .swiper-button-next {
                left: var(--swiper-navigation-sides-offset, 0);
            }

            .swiper-slide-active {
                margin-right: 2.5vw;
            }

            .slider-element {
                height: 30vh;
                max-width: 75vw;
                pointer-events: none;
            }

            .Swiper_Slide {
                width: 100%;
                padding-right: 5vw;
            }
        }
    }
}

@media only screen and (max-width: 900px) and (min-width: 601px) and (max-height: 1200px) {
    .slider-container {
        padding: 0 5vw;

        .swiper {
            .swiper-button-prev {
                // right: var(--swiper-navigation-sides-offset, 0);
            }

            .swiper-button-next {
                // left: var(--swiper-navigation-sides-offset, 0);
            }

            .swiper-slide-active {
                margin-right: 2.5vw;
            }

            .slider-element {
                height: 33vh;
                max-width: 36vw;
                pointer-events: none;
            }

            .Swiper_Slide {
                width: 32vw;
                padding-right: 2vw;
            }
        }
    }
}