:root {
    --swiper-navigation-size: 50px;
    --theme-color: #186B89;
    --swiper-theme-color: #186B89;
}

.slider-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    overflow-x: hidden;
    left: 0;
    right: 0;
    padding: 0 10vw;
    .swiper {
        .swiper-button-prev {
            right: var(--swiper-navigation-sides-offset, 0.2vw);
        }
        .swiper-button-next {
            left: var(--swiper-navigation-sides-offset, 0.2vw);
        }
        .swiper-slide-active {
            margin-right: 2.5vw;
        }
        .slider-element {
            height: 40vh;
            max-width: 15vw;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #707070;
            border-radius: 15px;
            overflow: hidden;
            img, video {
                max-width: fit-content;
                max-height: fit-content;
                min-width: 70px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .slider-container {
        padding: 0 5vw;
        .swiper {
            .swiper-button-prev {
                right: var(--swiper-navigation-sides-offset, 0);
            }
            .swiper-button-next {
                left: var(--swiper-navigation-sides-offset, 0);
            }
            .swiper-slide-active {
                margin-right: 2.5vw;
            }
            .slider-element {
                height: 20vh;
                max-width: 15vw;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #707070;
                border-radius: 15px;
                overflow: hidden;
                img, video {
                    max-width: fit-content;
                    max-height: fit-content;
                    min-width: 70px;
                }
            }
        }
    }
}
